4ff80490579643919ddef96d789b952f-unix-wayland-0
audacity
autostart
birthdays.source
bookmarks
bookmarks.json
bottom
BraveSoftware
browsedata.db
bus
cookie
create-template.desktop
dconf
emacs
evolution
exercism
falkon
ghostty
gnome-layout-switcher.conf
gnome-session
go
goa-1.0
gtk-3.0
gtk-4.0
gtk.css
gtk-dark.css
htop
ibus
JetBrains
kdenlive-layoutsrc
kdenliverc
knfsshare
lazydocker
manjaro
manjaro-app-folder-settings.desktop
manjaro-hello.json
menus
mimeapps.list
msm_notifier.desktop
nautilus
nvim
pamac
pgadmin4
profiles
profiles.ini
pulse
qt5ct
qt5ct.conf
qt6ct
qt6ct.conf
QtProject.conf
saved-session
sources
system-calendar.source
system-proxy.source
theme-info.json
Thunar
tmux
ulauncher
user
user-dirs.dirs
user-dirs.locale
version
vlc
xdg-terminals.list
xfce4
yay
