4ff80490579643919ddef96d789b952f-unix-wayland-0
autostart
birthdays.source
bookmarks
bookmarks.json
browsedata.db
bus
cookie
create-template.desktop
dconf
evolution
falkon
gnome-layout-switcher.conf
gnome-session
goa-1.0
ibus
manjaro
manjaro-app-folder-settings.desktop
manjaro-hello.json
mimeapps.list
msm_notifier.desktop
nautilus
profiles
profiles.ini
pulse
saved-session
sources
system-calendar.source
system-proxy.source
theme-info.json
user
user-dirs.dirs
user-dirs.locale
version
xdg-terminals.list
yay
go
