baloofilerc
bluedevilglobalrc
dconf
dolphinrc
EOS-greeter.conf
eos-log-tool
GIMP
go
gtk-3.0
gtk-4.0
gtkrc
gtkrc-2.0
gwenviewrc
ibus
kactivitymanagerdrc
kate
kate-externaltoolspluginrc
katerc
katevirc
kconf_updaterc
KDE
kdeconnect
kded5rc
kded6rc
kdedefaults
kdeglobals
kde.org
kglobalshortcutsrc
kiorc
knfsshare
konsolerc
konsolesshconfig
kscreenlockerrc
ksmserverrc
ktimezonedrc
Kvantum
kwalletrc
kwinoutputconfig.json
kwinrc
libaccounts-glib
menus
mimeapps.list
plasma.emojierrc
plasma-localerc
plasmanotifyrc
plasma-org.kde.plasma.desktop-appletsrc
plasmaparc
plasmarc
plasmashellrc
powerdevilrc
powermanagementprofilesrc
pulse
qBittorrent
QtProject.conf
reflector-simple-free-params.txt
sddmthemeinstallerrc
session
SurrealDB
systemmonitorrc
trashrc
Trolltech.conf
user-dirs.dirs
user-dirs.locale
winegui
xsettingsd
yay
